loc 인덱서

In [ ]:
# df.loc[행 인덱싱값]   df.loc[행 인덱싱값, 열 인덱싱값]

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [4]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [5]:
df.loc["b":"c"]  # df["b":"c"]  df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [ ]:
# def select_rows(df):
    return df.A > 15
# df.loc[select_rows(df)]

In [7]:
df["A"]

a    10
b    14
c    18
Name: A, dtype: int32

In [ ]:
# # df.loc["A"]  # KeyError  loc 는 행인덱싱 우선.

In [8]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [9]:
df2.loc[1:2] # 2까지 나온다!

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

인덱싱값을 행과 열 모두 받는 경우

In [10]:
df.loc["a", "A"]

10

In [11]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [12]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [13]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [14]:
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

# iloc 인덱서

순서를 나타내는 정수(integer) 인덱스만 받는다.

In [15]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [16]:
df.iloc[0, 1]

11

In [17]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [18]:
#연습 문제 4.3.1
df3 = pd.DataFrame(np.arange(1, 26).reshape(5, 5), columns=["A", "B", "C", "D","E"])
df3

    A   B   C   D   E
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

In [20]:
df3.iloc[-1]

A    21
B    22
C    23
D    24
E    25
Name: 4, dtype: int32