In [2]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [21]:
df = pd.read_csv('./data/지역별/서울시 코로나19 확진자 현황.csv',encoding='euc-kr') [['연번','확진일','지역','여행력','접촉력','상태','이동경로','노출여부']]
df

        연번     확진일    지역     여행력         접촉력   상태          이동경로 노출여부
0     8966  11.30.   강북구     NaN    감염경로 조사중  NaN           NaN    Y
1     8965  11.30.   타시도     NaN   기타 확진자 접촉  NaN           NaN    Y
2     8964  11.30.   타시도     NaN    감염경로 조사중  NaN           NaN    Y
3     8963  11.30.  영등포구     NaN  서초구 사우나 관련  NaN           NaN    Y
4     8962  11.30.  영등포구     NaN    감염경로 조사중  NaN           NaN    Y
...    ...     ...   ...     ...         ...  ...           ...  ...
8961     5   1.31.   성북구     NaN       #5 접촉   퇴원  이동경로 공개기간 경과    Y
8962     4   1.30.   마포구  중국 우한시       해외 접촉   퇴원  이동경로 공개기간 경과    Y
8963     3   1.30.   종로구     NaN       #3 접촉   퇴원  이동경로 공개기간 경과    Y
8964     2   1.30.   중랑구  중국 우한시       해외 접촉   퇴원  이동경로 공개기간 경과    Y
8965     1   1.24.   강서구  중국 우한시       해외 접촉   퇴원  이동경로 공개기간 경과    Y

[8966 rows x 8 columns]

In [6]:
df1 = pd.read_csv('./data/지역별/서울시 코로나19 확진자 현황.csv',encoding='euc-kr') [['연번','확진일','지역']]
#df1
df2 = df1.pivot_table(df1, index='확진일', columns='지역',aggfunc='count')
df2

         연번                                               ...                \
지역      강남구  강동구  강북구  강서구 경기도  관악구  광진구  구로구  금천구    기타  ...  성북구  송파구 양천구
확진일                                                       ...
08.25.  NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN  NaN NaN
1.24.   NaN  NaN  NaN  1.0 NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN  NaN NaN
1.30.   NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN  NaN NaN
1.31.   NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN   NaN  ...  1.0  NaN NaN
10.01.  1.0  NaN  NaN  NaN NaN  2.0  NaN  1.0  1.0   1.0  ...  1.0  NaN NaN
...     ...  ...  ...  ...  ..  ...  ...  ...  ...   ...  ...  ...  ...  ..
9.26.   NaN  2.0  NaN  2.0 NaN  5.0  NaN  NaN  NaN   NaN  ...  2.0  2.0 NaN
9.27.   2.0  1.0  NaN  NaN NaN  1.0  1.0  2.0  NaN   NaN  ...  NaN  1.0 NaN
9.28.   NaN  NaN  1.0  NaN NaN  2.0  1.0  NaN  NaN   NaN  ...  4.0  NaN NaN
9.29.   NaN  NaN  NaN  NaN NaN  3.0  NaN  NaN  NaN  28.0  ...  NaN  NaN NaN
9.30.   1.0  1.0  NaN  NaN NaN  6.0  1.0  2.0  2.0   1.0  ...  NaN  2.0 NaN


지역     영등포구  용산구  은평구  종로구   중구  중랑구  타시도
확진일
08.25.  1.0  NaN  NaN  NaN  NaN  NaN  NaN
1.24.   NaN  NaN  NaN  NaN  NaN  NaN  NaN
1.30.   NaN  NaN  NaN  1.0  NaN  1.0  NaN
1.31.   NaN  NaN  NaN  2.0  NaN  NaN  NaN
10.01.  NaN  NaN  NaN  1.0  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...
9.26.   1.0  2.0  1.0  NaN  2.0  1.0  5.0
9.27.   2.0  2.0  1.0  NaN  NaN  NaN  NaN
9.28.   1.0  2.0  1.0  NaN  NaN  NaN  NaN
9.29.   NaN  NaN  NaN  NaN  NaN  NaN  2.0
9.30.   1.0  1.0  NaN  NaN  NaN  1.0  NaN

[285 rows x 28 columns]

In [13]:
df2.describe()

               연번                                                      \
지역            강남구         강동구        강북구         강서구  경기도         관악구
count  156.000000  116.000000  81.000000  145.000000  1.0  173.000000
mean     3.333333    2.387931   2.469136    4.165517  1.0    3.161850
std      3.040232    2.317313   2.133579    7.153101  NaN    2.580639
min      1.000000    1.000000   1.000000    1.000000  1.0    1.000000
25%      1.000000    1.000000   1.000000    1.000000  1.0    1.000000
50%      2.000000    1.000000   2.000000    2.000000  1.0    2.000000
75%      4.000000    3.000000   3.000000    4.000000  1.0    4.000000
max     17.000000   15.000000   9.000000   58.000000  1.0   14.000000

                                                  ...                          \
지역           광진구         구로구        금천구       기타  ...         성북구         송파구
count  89.000000  115.000000  77.000000  80.0000  ...  124.000000  152.000000
mean    2.089888    2.408696   1.623377   2.9250  ...    3.741935    4.019737
std     1.592885    1.941674   1.347893   3.5677  ...    5.122676    3.728307
min     1.000000    1.000000   1.000000   1.0000  ...    1.000000    1.000000
25%     1.000000    1.000000   1.000000   1.0000  ...    1.000000    1.000000
50%     1.000000    2.000000   1.000000   2.0000  ...    2.000000    2.500000
75%     3.000000    3.000000   2.000000   4.0000  ...    4.000000    6.000000
max     7.000000    9.000000  10.000000  28.0000  ...   38.000000   16.000000

                                                                             \
지역            양천구        영등포구         용산구         은평구        종로구         중구
count  102.000000  130.000000  108.000000  134.000000  74.000000  66.000000
mean     3.098039    2.376923    2.092593    2.694030   1.702703   1.666667
std      3.081435    2.186163    1.682994    2.304711   1.107010   1.154701
min      1.000000    1.000000    1.000000    1.000000   1.000000   1.000000
25%      1.000000    1.000000    1.000000    1.000000   1.000000   1.000000
50%      2.000000    2.000000    1.000000    2.000000   1.000000   1.000000
75%      3.000000    3.000000    2.250000    3.000000   2.000000   2.000000
max     17.000000   14.000000   10.000000   11.000000   7.000000   7.000000


지역            중랑구         타시도
count  111.000000  144.000000
mean     2.639640    3.000000
std      2.599975    3.072549
min      1.000000    1.000000
25%      1.000000    1.000000
50%      1.000000    2.000000
75%      4.000000    4.000000
max     13.000000   16.000000

[8 rows x 28 columns]

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285 entries, 08.25. to 9.30.
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   (연번, 강남구)   156 non-null    float64
 1   (연번, 강동구)   116 non-null    float64
 2   (연번, 강북구)   81 non-null     float64
 3   (연번, 강서구)   145 non-null    float64
 4   (연번, 경기도)   1 non-null      float64
 5   (연번, 관악구)   173 non-null    float64
 6   (연번, 광진구)   89 non-null     float64
 7   (연번, 구로구)   115 non-null    float64
 8   (연번, 금천구)   77 non-null     float64
 9   (연번, 기타)    80 non-null     float64
 10  (연번, 노원구)   124 non-null    float64
 11  (연번, 도봉구)   120 non-null    float64
 12  (연번, 동대문구)  112 non-null    float64
 13  (연번, 동작구)   137 non-null    float64
 14  (연번, 마포구)   118 non-null    float64
 15  (연번, 서대문구)  104 non-null    float64
 16  (연번, 서초구)   139 non-null    float64
 17  (연번, 성동구)   110 non-null    float64
 18  (연번, 성북구)   124 non-null    float64
 19  (연번, 송파구)   152 non-null    float64
 20  (연번, 양천구)   102 non-null    float64
 21  (연번, 영등포구)  130 non-null    float64
 22  (연번, 용산구)   108 non-null    float64
 23  (연번, 은평구)   134 non-null    float64
 24  (연번, 종로구)   74 non-null     float64
 25  (연번, 중구)    66 non-null     float64
 26  (연번, 중랑구)   111 non-null    float64
 27  (연번, 타시도)   144 non-null    float64
dtypes: float64(28)
memory usage: 74.6+ KB

In [20]:
df3 = df1.pivot_table(df1, index='지역',aggfunc='count')
df3

       연번  확진일
지역
강남구   520  520
강동구   277  277
강북구   200  200
강서구   604  604
경기도     1    1
관악구   547  547
광진구   186  186
구로구   277  277
금천구   125  125
기타    234  234
노원구   478  478
도봉구   319  319
동대문구  312  312
동작구   389  389
마포구   293  293
서대문구  261  261
서초구   472  472
성동구   223  223
성북구   464  464
송파구   611  611
양천구   316  316
영등포구  309  309
용산구   226  226
은평구   361  361
종로구   126  126
중구    110  110
중랑구   293  293
타시도   432  432

In [ ]:
역