In [1]:
#연습2) 
# table singers  id ,group_name , s_count , debut_date ,management 
# table song  song_id, song_name, group_id, r_date, composer, lyrics,
              # FOREIGN KEY (group_id) REFERENCES singers(id)

In [5]:
import sqlite3
conn =sqlite3.connect('./test.db')
cur = conn.cursor() 
sql = "insert into singers (group_name,s_count,debut_date,management) values('블랙핑크',4,20160301,'YG 엔터테인먼트');"
cur.execute(sql)
conn.commit()

In [15]:
cur = conn.cursor() 
singers = [('GOD',5,'1999-04-01','모름'),('BTS',7,'2013-01-01','빅히트 엔터테인먼트')]
sql = "insert into singers (group_name,s_count,debut_date,management) values(?,?,?,?);"
for singer in singers:
    cur.execute(sql, singer)

conn.commit()

In [13]:
cur = conn.cursor() 
cur.execute('DELETE FROM singers WHERE id >=4')
conn.commit()

In [17]:
cur = conn.cursor() 
songs = [('봄날',15,'2017-07-01','방시혁','보고 싶다. 이렇게 말하니까 더'),('거짓말',14,'2013-01-01','박진영','난 니가 싫어 졌어 우리 이만 헤어져'),('화이트',3,'2000-03-01','주태영','너도 오늘만은 기억하고 있겠지'),('영원한 사랑',3,'1999-07-01','주태영','이젠 내 사랑이 되어줘'),('사랑은 선율을 타고',2,'2008-07-01','유영석','눈을 뜨면 달콤한 세상'),('뚜두뚜두',1,'2018-07-01','테디','착한 얼굴에 그렇지 못한 태도'),('how you like that',1,'2020-09-01','테디','보란 듯이 무너졌어'),('거리에서',4,'2015-02-08','윤종신','네가 없는 거리에는 내가 할일이 없어서'),('다행이다',5,'2013-07-01','윤종신','그대를 만나고'),('내 여자니까',6,'2007-10-01','싸이','나를 동생으로만')]
sql = "insert into song (song_name,group_id,r_date,composer,lyrics) values(?,?,?,?,?);"
for song in songs:
    cur.execute(sql, song)

conn.commit()

In [18]:
cur = conn.cursor() 
cur.execute('SELECT l.group_name,l.s_count,l.debut_date,r.song_name,r.r_date FROM singers as l join song as r on l.id = r.group_id ')
rows = cur.fetchall()
for row in rows:
    print(row)

('BTS', '7', '2013-01-01', '봄날', '2017-07-01')
('GOD', '5', '1999-04-01', '거짓말', '2013-01-01')
('핑클', '4', 19980101, '화이트', '2000-03-01')
('핑클', '4', 19980101, '영원한 사랑', '1999-07-01')
('소녀시대', '8', 20070101, '사랑은 선율을 타고', '2008-07-01')
('블랙핑크', '4', None, '뚜두뚜두', '2018-07-01')
('블랙핑크', '4', None, 'how you like that', '2020-09-01')

In [19]:
#연습3

In [20]:
cur = conn.cursor() 
users = [('admin', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', '관리자', '010-2345-6789', 'admin@hoseo.com'),('bj', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', '브랜든조', '010-9876-5432', 'eskim@hoseo.com'),('dhlee', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', '이동화', '010-3456-7890', 'wjlee@hoseo.com'),('emrye', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', '유은미', '010-2323-7878', 'djy@korea.com'),('mjkim', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', '김미정', '010-9898-4567', 'gdhong@korea.com')]
sql = "insert into users (uid, pwd, uname, tel, email) values(?,?,?,?,?);"
for user in users:
    cur.execute(sql, user)

conn.commit()

In [26]:
name = input('이름을 입력하세요')
password = input('비밀번호를 입력하세요')

import sqlite3
conn =sqlite3.connect('./test.db')

cur = conn.cursor() 
sql = 'select * from users where uname like ?'
cur.execute(sql, (name,))
row = cur.fetchone()

if name == row[2]  and password == row[1]  :
    print("성공") 
else :
    print("실패")

성공