mysql

In [13]:
import json
with open('mysql.json', 'r') as file:
    config_str = file.read()
config = json.loads(config_str)

In [14]:
config

{'host': 'localhost',
 'user': 'hsuser',
 'password': 'hspass',
 'database': 'bbs_python',
 'port': 3306}

In [15]:

import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
    
)

In [16]:
cur = conn.cursor()
sql = """SELECT uid, uname, DATE_FORMAT(regDate, '%Y-%m-%d') AS regDate
            FROM users WHERE isDeleted=0;"""
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('admin', '관리자', '2020-11-06')
('djy', '대조영', '2020-11-06')
('eskim', '김은숙', '2020-11-06')
('gdhong', '홍길동', '2020-11-06')
('wjlee', '이우정', '2020-11-06')

In [17]:
cur = conn.cursor(pymysql.cursors.DictCursor)  # DictCursor 쓰면~!
sql = """SELECT uid, uname, DATE_FORMAT(regDate, '%Y-%m-%d') AS regDate
            FROM users WHERE isDeleted=0;"""
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

{'uid': 'admin', 'uname': '관리자', 'regDate': '2020-11-06'}
{'uid': 'djy', 'uname': '대조영', 'regDate': '2020-11-06'}
{'uid': 'eskim', 'uname': '김은숙', 'regDate': '2020-11-06'}
{'uid': 'gdhong', 'uname': '홍길동', 'regDate': '2020-11-06'}
{'uid': 'wjlee', 'uname': '이우정', 'regDate': '2020-11-06'}

In [18]:
import pandas as pd 
df = pd.DataFrame(rows)
df

      uid uname     regDate
0   admin   관리자  2020-11-06
1     djy   대조영  2020-11-06
2   eskim   김은숙  2020-11-06
3  gdhong   홍길동  2020-11-06
4   wjlee   이우정  2020-11-06

In [19]:
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.viewCount, b.replyCount,  
                DATE_FORMAT(b.modTime, '%Y-%m-%d %T') AS modTime
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                WHERE b.isDeleted=0
                ORDER BY b.bid DESC;"""
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1006, 'wjlee', '이우정', '슬기로운 의사생활', 1, 1, '2020-11-06 16:18:37')
(1005, 'eskim', '김은숙', '파리의 연인', 2, 2, '2020-11-06 16:18:37')
(1004, 'eskim', '김은숙', '시크릿 가든', 0, 0, '2020-11-06 16:18:37')
(1003, 'eskim', '김은숙', '태양의 후예', 0, 0, '2020-11-06 16:18:37')
(1002, 'eskim', '김은숙', '도깨비', 0, 0, '2020-11-06 16:18:37')
(1001, 'eskim', '김은숙', '미스터 션샤인', 0, 0, '2020-11-06 16:18:37')

In [20]:
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.content, 
                b.modTime, 
                b.viewCount, b.replyCount
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                WHERE b.bid=%s;"""
cur.execute(sql, (1006,))
row = cur.fetchone()
print(row)

(1006, 'wjlee', '이우정', '슬기로운 의사생활', '누군가는 태어나고 누군가는 삶을 끝내는, 인생의 축소판이라 불리는 병원에서 평범한 듯 특별한 하루하루를 살아가는 사람들과 눈빛만 봐도 알 수 있는 20년지기 친구들의 케미스토리를 담은 드라마. 99학번 의대 동기 다섯 명을 중심으로 펼쳐지는 병원에서의 이야기를 그린다.', datetime.datetime(2020, 11, 6, 16, 18, 37), 1, 1)

In [21]:
cur.close()
conn.close()