#SQLite3 활용

In [ ]:
import sqlite3
conn =sqlite3.connect('./test.db')
cur =conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

In [ ]:
conn = sqlite3.connect('./test.db')
with conn: 
    cur = conn.cursor()     
    cur.execute('SELECT * FROM test;')     
    rows = cur.fetchall()     
    for row in rows:         
        print(row)

In [ ]:
conn = sqlite3.connect('./test.db') 
cur = conn.cursor()

테이블 구조 변경

In [ ]:
sql ='alter table test add column age integer;'
cur.execute(sql)

In [ ]:
#변경사항 저장
conn.commit()

데이터 추가

In [ ]:
cur = conn.cursor() 
sql = "insert into test (name, age) values('장보고',1000);"
cur.execute(sql)
conn.commit()

In [ ]:
#파라메터는 튜플로 전달
writers = [('이우정',40),('김은숙',30)]
sql = "insert into test (name,age) values(?,?);"
for writer in writers:
    cur.execute(sql, writer)
conn.commit()

In [ ]:
cur.execute(sql,('김수현',60))
conn.commit()

In [ ]:
writers =[('노희경',34),('송진아',67),('임성한',54)] #겉에는 튜플이든 리스트든 무관.안에만 튜플
cur.executemany(sql, writers)
conn.commit()

데이터 조회

In [27]:
# 단 건 조회
cur = conn.cursor()
select_sql = 'select * from test;'
cur.execute(select_sql)
row = cur.fetchone()
print(row)

(1, '홍길동', None, None)

In [28]:
#여러 건 조회
rows =cur.fetchmany(3)
for row in rows:
    print(row)

(2, '홍길동', None, None)
(3, '홍길동', None, None)
(4, '홍길동', None, None)

In [29]:
#모두
rows = cur.fetchall()
for row in rows:
    print(row)

(5, '장보고', None, 1000)
(6, '이우정', None, 40)
(7, '김은숙', None, 30)
(8, '김수현', None, 60)
(9, '노희경', None, 34)
(10, '송진아', None, 67)
(11, '임성한', None, 54)

In [30]:
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', None, None)
(2, '홍길동', None, None)
(3, '홍길동', None, None)
(4, '홍길동', None, None)
(5, '장보고', None, 1000)
(6, '이우정', None, 40)
(7, '김은숙', None, 30)
(8, '김수현', None, 60)
(9, '노희경', None, 34)
(10, '송진아', None, 67)
(11, '임성한', None, 54)

In [31]:
# 순회조회
cur = conn.cursor()
cur.execute(select_sql)

for row in cur:     #여기 주목
    print(row)

(1, '홍길동', None, None)
(2, '홍길동', None, None)
(3, '홍길동', None, None)
(4, '홍길동', None, None)
(5, '장보고', None, 1000)
(6, '이우정', None, 40)
(7, '김은숙', None, 30)
(8, '김수현', None, 60)
(9, '노희경', None, 34)
(10, '송진아', None, 67)
(11, '임성한', None, 54)

In [26]:
# 필요한 컬럼만 조회
cur = conn.cursor()
cur.execute('SELECT name,age FROM test order by name')
rows = cur.fetchall()
for row in rows:
    print(row)

('김수현', 60)
('김은숙', 30)
('노희경', 34)
('송진아', 67)
('이우정', 40)
('임성한', 54)
('장보고', 1000)
('홍길동', None)
('홍길동', None)
('홍길동', None)
('홍길동', None)

In [33]:
cur = conn.cursor()
cur.execute('SELECT name,age FROM test order by age desc limit 3; ')
# cur.execute('SELECT name,age FROM test order by age desc, name limit 3; ')
# 나이가 같을때 name을 주면 이름 순으로
rows = cur.fetchall()
for row in rows:
    print(row)

('장보고', 1000)
('송진아', 67)
('김수현', 60)

In [34]:
#함수
cur.execute('select count(*) from test;')
count = cur.fetchone()
print(count)

(11,)

In [38]:
cur.execute('select count(*) from test;')
count, = cur.fetchone()   # , 주목
print(count)

11

In [35]:
cur.execute('select count(*) from test;')
count = cur.fetchone()
print(count, count[0])

(11,) 11

In [36]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
row =cur.fetchone()
print(row)

(1000, 30, 1285, 183.57142857142858)

In [37]:
#max_age = row[0]
#min_age = row[1]
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
max_age, min_age, sum_age, avg_age = cur.fetchone()
print(max_age, min_age, sum_age, avg_age)

1000 30 1285 183.57142857142858

검색

In [39]:
cur = conn.cursor()
cur.execute('SELECT name,age FROM test where age < ?', (50,)) #반드시 튜플로 준다
rows = cur.fetchall()
for row in rows:
    print(row)

('이우정', 40)
('김은숙', 30)
('노희경', 34)

In [40]:
cur.execute('update test set age=1300 where id=2;')
conn.commit()

삭제

In [42]:
cur = conn.cursor() 
cur.execute('DELETE FROM test WHERE id=1')
conn.commit()

In [ ]:
import pymysql
conn = pymysql.connect(
    host
    user
)